body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #ffffff;
    position: relative;
  }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible;
  }
  
  p {
    color: black;
    font-weight: 400;
  }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  a {
    transition: 0.3s all ease;
  }
  a, a:hover {
    text-decoration: none !important;
  }
  
  hr {
    border-top: 1px solid #000;
  }
  
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900 !important;
  }
  
  h2 {
    text-transform: uppercase;
    font-size: 1.85rem;
    font-weight: 900 !important;
  }
  
  h3 {
    text-transform: uppercase;
    font-size: 1.85rem;
    font-weight: 800 !important;
  }
  
  h4 {
    text-transform: uppercase;
    font-weight: 700 !important;
  }
  
  h5 {
    font-size: 17px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
  }
  
  .hero-h1 {
    text-shadow: -2px 0 #006571, 0 2px #006571, 2px 0 #006571, 0 -2px #006571;
  }
  
  .hero-h2 {
    font-size: 1.2rem;
    font-weight: 700 !important;
    text-shadow: -2px 0 #006571, 0 2px #006571, 2px 0 #006571, 0 -2px #006571;
  }
  
  .hero-p {
    font-weight: 600 !important;
    text-shadow: -1px 0 #006571, 0 1px #006571, 1px 0 #006571, 0 -1px #006571;
  }
  
  .small-text {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  
  .header-dark {
    color: #000;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .text-teal-extra-light {
    color: #00BBAE !important;
  }
  
  .text-teal-light {
    color: #01A89E !important;
  }
  
  .text-teal-med {
    color: #007879 !important;
  }
  
  .text-teal-semi-dark {
    color: #006571 !important;
  }
  
  .text-teal-dark {
    color: #014F5B !important;
  }
  
  .fw-500 {
    font-weight: 500 !important;
  }
  
  .fw-600 {
    font-weight: 600 !important;
  }
  
  .fw-700 {
    font-weight: 700 !important;
  }
  
  .fw-800 {
    font-weight: 800 !important;
  }
  
  .fw-900 {
    font-weight: 900 !important;
  }
  
  /*------------------------------------*\
      Globals
  \*------------------------------------*/
  .btn {
    padding: 7px 15px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .btn-teal-light {
    color: #ffffff !important;
    background-color: #01A89E;
    border: 2px solid #00BBAE;
  }
  .btn-teal-light:hover {
    background-color: #00BBAE;
    border: 2px solid #01A89E;
  }
  
  .btn-teal-dark {
    color: #ffffff !important;
    background-color: #007879;
    border: 3px solid #007879;
  }
  .btn-teal-dark:hover {
    background-color: #01A89E;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    background-color: #01A89E;
    border: none;
  }
  
  .link-sm {
    font-weight: 500;
    color: #01A89E;
  }
  .link-sm:hover {
    color: #01A89E !important;
    text-decoration: underline !important;
  }
  
  /*------------------------------------*\
      Header
  \*------------------------------------*/
  .top-bar {
    padding: 0.5rem 0;
    background: #007879;
  }
  .top-bar a {
    color: #ffffff;
  }
  
  .site-navbar {
    margin-bottom: 0px;
    z-index: 3;
    position: relative;
    width: 100%;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  @media (max-width: 991.98px) {
    .site-navbar {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
  .site-navbar .container-fluid {
    max-width: 1150px;
  }
  .site-navbar .toggle-button {
    position: absolute;
    right: 0px;
  }
  .site-navbar .site-logo {
    position: absolute;
    margin: 0;
    margin-top: 50px;
    padding: 0 15px 15px 15px;
    z-index: 3;
    background: #ffffff;
    border-radius: 100% 100% 100% 100%/0% 0% 100% 100%;
    box-shadow: rgba(33, 35, 38, 0.75) 0px 7px 2px -5px;
  }
  @media (max-width: 991.98px) {
    .site-navbar .site-logo {
      float: left;
    }
  }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important;
  }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
  }
  .site-navbar .site-navigation .site-menu .active {
    color: #007bff !important;
  }
  .site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
  }
  .site-navbar .site-navigation .site-menu > li {
    display: inline-block;
  }
  .site-navbar .site-navigation .site-menu > li > a {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0px;
    color: #000 !important;
    display: inline-block;
    text-decoration: none !important;
  }
  @media (max-width: 1200px) {
    .site-navbar .site-navigation .site-menu > li > a {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  @media (max-width: 1050px) {
    .site-navbar .site-navigation .site-menu > li > a {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .site-navbar .site-navigation .site-menu > li > a:hover {
    color: #007bff;
  }
  .site-navbar .site-navigation .site-menu > li .nav-button {
    padding: 10px 7px;
    color: #ffffff !important;
    background-color: #007879;
    border: 3px solid #007879;
  }
  .site-navbar .site-navigation .site-menu > li .nav-button:hover {
    background-color: #01A89E;
  }
  .site-navbar .site-navigation .site-menu .has-children {
    position: relative;
  }
  .site-navbar .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
  }
  .site-navbar .site-navigation .site-menu .has-children > a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-family: "icomoon";
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 5px solid #007879;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    transition: 0.2s 0s;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    display: none;
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: uppercase;
    letter-spacing: normal;
    transition: 0s all;
    color: #000 !important;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
    color: #007bff !important;
    background: #f8f9fa;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
    padding: 9px 20px;
    display: block;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    background: #f8f9fa;
    color: #ced4da;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
    content: "\e315";
    right: 20px;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
    left: 100%;
    top: 0;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
    background: #f8f9fa;
    color: #ced4da;
  }
  .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
    color: #007bff;
  }
  .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
  }
  .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
  }
  
  .site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: 100vh;
    transform: translateX(110%);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
  }
  .offcanvas-menu .site-mobile-menu {
    transform: translateX(0%);
  }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s all ease;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #ced4da;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
  }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
  }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
  }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
  .site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
  }
  .site-mobile-menu .site-nav-wrap a:hover {
    color: #007879;
  }
  .site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
  }
  .site-mobile-menu .site-nav-wrap li .nav-link.active {
    color: #007bff;
  }
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
  }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
  }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "icomoon";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    transition: 0.3s all ease;
  }
  .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    transform: translate(-50%, -50%);
  }
  .site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
  }
  .site-mobile-menu .site-nav-wrap > li > a {
    padding-left: 20px;
    font-size: 20px;
  }
  .site-mobile-menu .site-nav-wrap > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li {
    display: block;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li > a {
    padding-left: 40px;
    font-size: 16px;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    padding: 0;
    margin: 0;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
    display: block;
  }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 16px;
    padding-left: 60px;
  }
  .site-mobile-menu .site-nav-wrap[data-class=social] {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5em;
  }
  .site-mobile-menu .site-nav-wrap[data-class=social] > li {
    width: auto;
  }
  .site-mobile-menu .site-nav-wrap[data-class=social] > li:first-child a {
    padding-left: 15px !important;
  }
  
  .sticky-wrapper {
    position: relative;
    z-index: 100;
    width: 100%;
  }
  .sticky-wrapper .site-navbar {
    transition: 0.3s all ease;
  }
  .sticky-wrapper .site-navbar {
    background: #fff;
  }
  .sticky-wrapper .site-navbar .site-logo a {
    color: #fff;
  }
  .sticky-wrapper .site-navbar ul li a {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .sticky-wrapper .site-navbar ul li a.active {
    color: #fff !important;
  }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #fff;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  .sticky-wrapper.is-sticky .site-navbar .site-logo a {
    color: #007bff;
  }
  .sticky-wrapper.is-sticky .site-navbar ul li a {
    color: #000 !important;
  }
  .sticky-wrapper.is-sticky .site-navbar ul li a.active {
    color: #007bff !important;
  }
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  @media (max-width: 991.98px) {
    .sticky-wrapper .shrink {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
  }
  
  section.services {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f6f6f6;
  }
  section.services a:hover .card {
    border-color: #007879;
  }
  section.services .card {
    position: relative;
    max-width: 255px;
    height: 225px;
    border-top: 5px solid #007879;
  }
  section.services .card .service-link {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -4px;
    left: 50%;
    margin: 0;
    line-height: 16px !important;
  }
  section.services h4 {
    color: #006571;
    font-size: 16px;
    font-weight: 600 !important;
  }
  section.portfolio {
    background-color: #007879;
    padding: 15px;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  section.portfolio .row {
    max-width: 2500px;
  }
  section.portfolio .slick-list {
    height: 350px;
  }
  section.portfolio .slick-list .slick-track {
    top: 7%;
  }
  section.portfolio .cl {
    height: 285px;
    padding: 10px;
  }
  section.portfolio .cl img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid white;
  }
  section.portfolio .slick-center {
    transform: scaleY(1.2);
  }
  section.portfolio .child {
    width: 100%;
  }
  section.portfolio .slide:not(.slick-active) {
    cursor: pointer;
  }
  section.portfolio .slick-prev, section.portfolio .slick-next {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    top: 50%;
    border: none;
    border-radius: 50%;
    background-color: #01A89E;
  }
  section.portfolio .slick-prev:hover, section.portfolio .slick-next:hover {
    background-color: #00BBAE;
  }
  section.portfolio .slick-prev:focus, section.portfolio .slick-next:focus {
    outline: none;
  }
  section.portfolio .slick-prev span, section.portfolio .slick-next span {
    font-size: 20px;
    color: #fff;
  }
  section.portfolio .slick-prev {
    left: -50px;
  }
  section.portfolio .slick-prev span {
    float: left;
  }
  section.portfolio .slick-next {
    right: -50px;
  }
  section.portfolio .slick-next span {
    float: right;
  }
  section.service-areas {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 991.98px) {
    section.service-areas .row {
      justify-content: center !important;
      flex-direction: column;
    }
  }
  @media (max-width: 991.98px) {
    section.service-areas .row .map-col {
      padding: 10px;
    }
  }
  section.service-areas .row .map-col .google-map {
    max-width: 100%;
    box-shadow: 10px -10px 0 #007879;
    border: 2px solid #014F5B;
  }
  @media (max-width: 1199px) {
    section.service-areas .row .map-col .google-map {
      box-shadow: none;
      margin-top: 20px;
    }
  }
  section.service-areas .row .text-col {
    max-width: 512px;
  }
  @media (max-width: 991.98px) {
    section.service-areas .row .text-col {
      padding: 15px;
      text-align: center;
      margin: 0 auto;
    }
  }
  section.service-areas .row .text-col ul {
    padding-left: 0px;
    padding-top: 20px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
  }
  @media (max-width: 480px) {
    section.service-areas .row .text-col ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
  section.service-areas .row .text-col ul li {
    margin-bottom: 2px;
    white-space: nowrap;
  }
  section.service-areas .row .text-col ul li h4 {
    all: inherit;
  }
  section.service-areas .row .text-col ul li a {
    font-weight: 500 !important;
    text-transform: none;
    color: #01A89E;
  }
  section.service-areas .row .text-col ul li a:hover {
    text-decoration: underline !important;
  }
  section.service-areas .row .text-col ul li a span {
    margin-right: 5px;
    display: inline-block;
  }
  section.service-areas .row .text-col ul li a span:hover {
    text-decoration: none !important;
  }
  section.service-areas .row .text-col hr {
    margin-left: 0;
  }
  @media (max-width: 991.98px) {
    section.service-areas .row .text-col hr {
      margin-left: auto;
    }
  }
  section.blog {
    padding: 15px;
    background-color: #007879;
    height: 200px;
  }
  
  .index-hero {
    position: relative;
    overflow: hidden;
    height: 700px;
  }
  .index-hero .index-hero-slider {
    position: absolute;
    width: 100%;
    height: 700px;
  }
  .index-hero .index-hero-slider img {
    float: right;
    width: 2500px;
    height: 700px;
  }
  @media (min-width: 2500px) {
    .index-hero .index-hero-slider img {
      width: 100%;
      height: auto;
    }
  }
  .index-hero .banner-row {
    height: 700px;
  }
  @media (max-width: 2500px) {
    .index-hero .banner-row .banner-right, .index-hero .banner-row .about-hero .banner-left, .index-hero .banner-row .privacy-hero .banner-left, .index-hero .banner-row .estimate-hero .banner-left, .index-hero .banner-row .cities-hero .banner-left, .index-hero .banner-row .services-hero .banner-left, .index-hero .banner-row .contact-hero .banner-left, .index-hero .banner-row .portfolio-hero .banner-left, .about-hero .index-hero .banner-row .banner-left, .privacy-hero .index-hero .banner-row .banner-left, .estimate-hero .index-hero .banner-row .banner-left, .cities-hero .index-hero .banner-row .banner-left, .services-hero .index-hero .banner-row .banner-left, .contact-hero .index-hero .banner-row .banner-left, .portfolio-hero .index-hero .banner-row .banner-left {
      display: none;
    }
  }
  .index-hero .banner-row .banner-center {
    z-index: 1;
    min-height: 700px;
    min-width: 2500px;
    max-width: 2500px;
    width: 2500px;
  }
  @media (max-width: 2500px) {
    .index-hero .banner-row .banner-center {
      position: absolute;
      max-width: 2500px !important;
      min-width: 100%;
      width: 100%;
    }
  }
  .index-hero .banner-row .banner-center .banner-img {
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 2;
  }
  .index-hero .banner-row .banner-center .row {
    height: 700px;
  }
  @media (max-width: 991.98px) {
    .index-hero .banner-row .banner-center .row {
      justify-content: center !important;
      flex-direction: column;
    }
  }
  .index-hero .banner-row .banner-center .row .col-text {
    z-index: 3;
    flex: 0 0 450px;
    height: auto;
    margin-left: 8%;
    padding: 10px;
  }
  @media (max-width: 2000px) {
    .index-hero .banner-row .banner-center .row .col-text {
      background: #000; /* The Fallback */
      background: rgba(0, 0, 0, 0.6);
      border: 1px solid #fff;
      box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.6);
    }
    .index-hero .banner-row .banner-center .row .col-text h1 {
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }
    .index-hero .banner-row .banner-center .row .col-text p {
      color: white !important;
    }
  }
  @media (max-width: 991.98px) {
    .index-hero .banner-row .banner-center .row .col-text {
      flex: 0 0 auto;
      height: 70%;
      max-width: 450px;
      min-width: 0;
      margin: 0;
    }
    .index-hero .banner-row .banner-center .row .col-text p {
      font-size: 0.85rem;
    }
  }
  @media (max-width: 450px) {
    .index-hero .banner-row .banner-center .row .col-text h1 {
      font-size: 2rem;
    }
    .index-hero .banner-row .banner-center .row .col-text p {
      font-size: 3vw;
    }
  }
  @media (max-width: 400px) {
    .index-hero .banner-row .banner-center .row .col-text p {
      font-size: 3.7vw;
    }
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg {
    flex: 0 0 450px;
    z-index: 3;
    height: 82%;
    width: 475px;
    margin-left: 1%;
    padding: 30px;
    background-color: #00978d;
    border: 1px solid #007e75;
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.6);
  }
  @media (min-width: 2500px) {
    .index-hero .banner-row .banner-center .row .contact-form-lg {
      min-width: 17%;
    }
  }
  @media (max-width: 991.98px) {
    .index-hero .banner-row .banner-center .row .contact-form-lg {
      display: none;
    }
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg * {
    border: none;
    border-radius: 0;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .form-control {
    padding-left: 34px !important;
    color: #fff;
    background-color: #007879;
    background-position-x: 8px !important;
    background-repeat: no-repeat;
    resize: none;
  }
  /* .index-hero .banner-row .banner-center .row .contact-form-lg #contact-name {
    background-image: url(../fonts/icomoon/fonts/user.svg);
    background-position-y: 10px !important;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg #contact-email {
    background-image: url(../fonts/icomoon/fonts/envelop.svg);
    background-position-y: 11px !important;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg #contact-phone {
    background-image: url(../fonts/icomoon/fonts/phone.svg);
    background-position-y: 11px !important;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg #contact-address {
    background-image: url(../fonts/icomoon/fonts/home.svg);
    background-position-y: 10px !important;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg #contact-message {
    background-image: url(../fonts/icomoon/fonts/file-text.svg);
    background-position-y: 9px !important;
  } */
  .index-hero .banner-row .banner-center .row .contact-form-lg *::-moz-placeholder {
    color: #fff !important;
    opacity: 1;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg *::placeholder {
    color: #fff !important;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg input:focus, .index-hero .banner-row .banner-center .row .contact-form-lg textarea:focus {
    border: none;
    box-shadow: 0px 0px 2px 0.5px #fff;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .btn {
    border: none;
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.6);
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .error-message {
    color: red;
    display: none;
    text-align: center;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .success-message {
    color: white;
    display: none;
    text-align: center;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .failed-message {
    color: red;
    display: none;
    text-align: center;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .submit-ellipsis {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 20px;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .submit-ellipsis div {
    position: absolute;
    top: 50%;
    width: 6.5px;
    height: 6.5px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .submit-ellipsis div:nth-child(1) {
    left: 4px;
    animation: submit-ellipsis1 0.6s infinite;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .submit-ellipsis div:nth-child(2) {
    left: 4px;
    animation: submit-ellipsis2 0.6s infinite;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .submit-ellipsis div:nth-child(3) {
    left: 16px;
    animation: submit-ellipsis2 0.6s infinite;
  }
  .index-hero .banner-row .banner-center .row .contact-form-lg .submit-ellipsis div:nth-child(4) {
    left: 28px;
    animation: submit-ellipsis3 0.6s infinite;
  }
  @keyframes submit-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes submit-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes submit-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(12px, 0);
    }
  }
  .index-hero .banner-row .banner-center .row .contact-form-sm {
    z-index: 3;
    display: none;
    flex: 0 0 auto;
    height: 10%;
    max-width: 450px;
    min-width: 0;
    margin: 0;
    margin-top: 10px;
  }
  @media (max-width: 991.98px) {
    .index-hero .banner-row .banner-center .row .contact-form-sm {
      display: block;
    }
  }
  .index-hero .banner-row .banner-center .row .contact-form-sm .btn {
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.6);
  }
  .index-hero .banner-row .banner-left {
    z-index: 1;
    background-image: linear-gradient(to right, #007879, #01A89E);
  }
  @media (max-width: 2500px) {
    .index-hero .banner-row .banner-left {
      display: none;
    }
  }
  
  .index-rating-banner > .container-fluid {
    border: 3px solid #006571;
    background-color: #007879;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  .index-rating-banner > .container-fluid > .row {
    max-width: 2500px;
  }
  
  .index-about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .index-about .image-col {
    max-width: 512px;
  }
  .index-about .image-col .wrapper {
    overflow: hidden;
    background: #007879;
    background: linear-gradient(to top, rgba(0,120,121,0.6), rgba(0,0,0,0.3));
  }
  .index-about .image-col .wrapper img {
    position: relative;
    z-index: -1;
  }
  .index-about .text-col {
    max-width: 512px;
    padding-left: 48px;
  }
  @media (max-width: 991.98px) {
    .index-about .text-col {
      padding: 15px;
      text-align: center;
    }
  }
  .index-about .text-col hr {
    margin-left: 0;
  }
  @media (max-width: 991.98px) {
    .index-about .text-col hr {
      margin-left: auto;
    }
  }
  
  .index-partners {
    background-color: #f6f6f6;
    padding: 15px;
  }
  .index-partners img {
    width: 100px;
    height: auto;
    margin: 10px;
  }
  @media (max-width: 550px) {
    .index-partners img {
      width: 80px;
    }
  }
  
  .index-testimonials {
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .index-testimonials .title-wrapper {
    margin-bottom: 40px;
  }
  .index-testimonials .card {
    max-width: 405px;
    padding: 15px 30px 25px 30px;
    border-top: 5px solid #007879;
  }
  .index-testimonials .card p {
    margin-bottom: 20px;
    color: #000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 200;
  }
  
  .index-test {
    background-color: #007879;
    border: 25px solid #006571;
    border-width: 2px 0;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  .index-test .cl {
    height: 350px;
    padding: 40px 5px;
  }
  .index-test .cl img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid white;
  }
  .index-test .slick-center {
    transform: scaleY(1.2);
  }
  
  .slick-lightbox .slick-arrow {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border: none;
    display: inline-block;
    transform: translate(-50%, -50%);
    left: 50% !important;
    top: 50% !important;
  }
  .slick-lightbox .slick-arrow:hover span {
    display: inline-block;
  }
  .slick-lightbox .slick-arrow:focus {
    outline: none;
  }
  @media (max-width: 991.98px) {
    .slick-lightbox .slick-arrow {
      display: none !important;
    }
  }
  .slick-lightbox .slick-arrow span {
    position: absolute;
    display: none;
    width: 25px;
    height: 25px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
  }
  .slick-lightbox .slick-prev span {
    left: 20px;
    transform: rotate(-135deg);
  }
  .slick-lightbox .slick-next span {
    right: 20px;
    transform: rotate(45deg);
  }
  .slick-lightbox .slick-lightbox-slick-img {
    border: 5px solid white;
    border-radius: 1%;
  }
  
  .about-hero, .privacy-hero, .estimate-hero, .cities-hero, .services-hero, .contact-hero, .portfolio-hero {
    position: relative;
    overflow: hidden;
    height: 700px;
    background-image: linear-gradient(180deg, rgba(0,120,121,0.65), rgba(0,120,121,0.25)), url(/images/about_us/hero.webp);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    border-bottom: 10px solid #007879;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  .about-hero h3, .privacy-hero h3, .estimate-hero h3, .cities-hero h3, .services-hero h3, .contact-hero h3, .portfolio-hero h3 {
    text-shadow: -1px -1px 0 #014F5B, 1px -1px 0 #014F5B, -1px 1px 0 #014F5B, 1px 1px 0 #014F5B;
  }
  .about-hero .row, .privacy-hero .row, .estimate-hero .row, .cities-hero .row, .services-hero .row, .contact-hero .row, .portfolio-hero .row {
    height: 700px;
  }
  .about-hero .banner-right, .privacy-hero .banner-right, .estimate-hero .banner-right, .cities-hero .banner-right, .services-hero .banner-right, .contact-hero .banner-right, .portfolio-hero .banner-right, .about-hero .banner-left, .privacy-hero .banner-left, .estimate-hero .banner-left, .cities-hero .banner-left, .services-hero .banner-left, .contact-hero .banner-left, .portfolio-hero .banner-left {
    background-image: linear-gradient(to left, #007879, #01A89E);
  }
  @media (max-width: 2500px) {
    .about-hero .banner-right, .privacy-hero .banner-right, .estimate-hero .banner-right, .cities-hero .banner-right, .services-hero .banner-right, .contact-hero .banner-right, .portfolio-hero .banner-right, .about-hero .banner-left, .privacy-hero .banner-left, .estimate-hero .banner-left, .cities-hero .banner-left, .services-hero .banner-left, .contact-hero .banner-left, .portfolio-hero .banner-left {
      display: none;
    }
  }
  .about-hero .banner-left, .privacy-hero .banner-left, .estimate-hero .banner-left, .cities-hero .banner-left, .services-hero .banner-left, .contact-hero .banner-left, .portfolio-hero .banner-left {
    z-index: 1;
    background-image: linear-gradient(to right, #007879, #01A89E);
  }
  .about-hero .banner-center, .privacy-hero .banner-center, .estimate-hero .banner-center, .cities-hero .banner-center, .services-hero .banner-center, .contact-hero .banner-center, .portfolio-hero .banner-center {
    z-index: 1;
    min-width: 2500px;
    max-width: 2500px;
    width: 2500px;
    padding: 0;
  }
  @media (max-width: 2500px) {
    .about-hero .banner-center, .privacy-hero .banner-center, .estimate-hero .banner-center, .cities-hero .banner-center, .services-hero .banner-center, .contact-hero .banner-center, .portfolio-hero .banner-center {
      position: absolute;
      max-width: 2500px !important;
      min-width: 100%;
      width: 100% !important;
    }
  }
  .about-hero .banner-center .banner-img, .privacy-hero .banner-center .banner-img, .estimate-hero .banner-center .banner-img, .cities-hero .banner-center .banner-img, .services-hero .banner-center .banner-img, .contact-hero .banner-center .banner-img, .portfolio-hero .banner-center .banner-img {
    position: absolute;
    width: 100%;
    height: 700px;
  }
  @media (max-width: 650px) {
    .about-hero .banner-center .banner-img, .privacy-hero .banner-center .banner-img, .estimate-hero .banner-center .banner-img, .cities-hero .banner-center .banner-img, .services-hero .banner-center .banner-img, .contact-hero .banner-center .banner-img, .portfolio-hero .banner-center .banner-img {
      display: none;
    }
  }
  .about-hero .banner-center .col-text, .privacy-hero .banner-center .col-text, .estimate-hero .banner-center .col-text, .cities-hero .banner-center .col-text, .services-hero .banner-center .col-text, .contact-hero .banner-center .col-text, .portfolio-hero .banner-center .col-text {
    left: 250px;
    width: 750px !important;
  }
  @media (max-width: 1150px) {
    .about-hero .banner-center .col-text, .privacy-hero .banner-center .col-text, .estimate-hero .banner-center .col-text, .cities-hero .banner-center .col-text, .services-hero .banner-center .col-text, .contact-hero .banner-center .col-text, .portfolio-hero .banner-center .col-text {
      left: 0;
      margin-left: auto;
      margin-right: auto;
      width: 60% !important;
      min-width: 502px !important;
    }
  }
  @media (max-width: 600px) {
    .about-hero .banner-center .col-text, .privacy-hero .banner-center .col-text, .estimate-hero .banner-center .col-text, .cities-hero .banner-center .col-text, .services-hero .banner-center .col-text, .contact-hero .banner-center .col-text, .portfolio-hero .banner-center .col-text {
      min-width: 320px !important;
    }
    .about-hero .banner-center .col-text a, .privacy-hero .banner-center .col-text a, .estimate-hero .banner-center .col-text a, .cities-hero .banner-center .col-text a, .services-hero .banner-center .col-text a, .contact-hero .banner-center .col-text a, .portfolio-hero .banner-center .col-text a {
      margin-left: auto !important;
    }
    .about-hero .banner-center .col-text a:first-of-type, .privacy-hero .banner-center .col-text a:first-of-type, .estimate-hero .banner-center .col-text a:first-of-type, .cities-hero .banner-center .col-text a:first-of-type, .services-hero .banner-center .col-text a:first-of-type, .contact-hero .banner-center .col-text a:first-of-type, .portfolio-hero .banner-center .col-text a:first-of-type {
      display: none;
    }
  }
  .about-hero .banner-left, .privacy-hero .banner-left, .estimate-hero .banner-left, .cities-hero .banner-left, .services-hero .banner-left, .contact-hero .banner-left, .portfolio-hero .banner-left {
    background-image: linear-gradient(to right, #007879, #01A89E);
  }
  @media (max-width: 2500px) {
    .about-hero .banner-left, .privacy-hero .banner-left, .estimate-hero .banner-left, .cities-hero .banner-left, .services-hero .banner-left, .contact-hero .banner-left, .portfolio-hero .banner-left {
      display: none;
    }
  }
  
  .about-intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about-intro img {
    box-shadow: -10px 10px 0 #007879;
    border: 2px solid #014F5B;
  }
  
  .about-process {
    background-color: #007879;
    padding: 25px;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  @media (max-width: 991.98px) {
    .about-process .row {
      flex-direction: column;
    }
  }
  .about-process .process-item {
    position: relative;
  }
  .about-process .process-item:nth-child(-n+2):after {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    top: 30px;
    left: 38px;
    background-color: #01A89E;
  }
  .about-process .process-item .accordion {
    position: relative;
    height: 85px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0.375rem 0.75rem;
  }
  .about-process .process-item .accordion:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .about-process .process-item .accordion .icon {
    position: relative;
    float: left;
    z-index: 1;
    width: 65px;
    height: 65px;
    padding-top: 5px;
    font-size: 50px;
    color: #007879;
    background-color: white;
  }
  .about-process .process-item .accordion .process-header {
    position: relative;
    display: inline-block;
    width: calc(100% - 100px);
    height: 86%;
    padding: 1rem 0;
    border-bottom: 1px solid white;
  }
  .about-process .process-item .accordion .process-header:after {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    right: -10px;
    width: 23px;
    height: 23px;
    content: "-";
    font-size: 40px;
    line-height: 0.55;
    color: white;
  }
  @media (max-width: 1200px) {
    .about-process .process-item .accordion .process-header h5 {
      font-size: 16px;
    }
  }
  @media (max-width: 520px) {
    .about-process .process-item .accordion .process-header p, .about-process .process-item .accordion .process-header h5 {
      font-size: 2.8vw !important;
      width: 85%;
    }
  }
  @media (max-width: 440px) {
    .about-process .process-item .accordion .process-header h5 .line {
      display: block;
    }
  }
  .about-process .process-item .accordion.collapsed .process-header:after {
    content: "+";
  }
  .about-process .process-item .process-panel {
    padding-left: 97px;
  }
  
  .portfolio-hero {
    background-image: linear-gradient(180deg, rgba(0,120,121,0.95), rgba(0,120,121,0.35)), url(/images/portfolio/hero.webp);
  }
  
  .portfolio-gallery {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .portfolio-gallery .gallery-col {
    height: 285px;
    overflow: hidden !important;
    white-space: nowrap;
  }
  .portfolio-gallery .gallery-col .wrapper {
    width: 100%;
    max-width: 285px;
    height: 100%;
    overflow: hidden;
  }
  .portfolio-gallery .gallery-col .wrapper img {
    cursor: pointer;
  }
  
  .porfolio-info {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .contact-hero {
    background-image: linear-gradient(180deg, rgba(0,120,121,0.65), rgba(0,120,121,0.25)), url(/images/about_us/hero.webp);
  }
  
  .contact-form {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contact-form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  .contact-form .error-message {
    color: red;
    display: none;
    text-align: center;
  }
  .contact-form .success-message {
    color: green;
    font-weight: 500;
    display: none;
    text-align: center;
  }
  .contact-form .failed-message {
    color: red;
    display: none;
    text-align: center;
  }
  .contact-form form {
    height: 100%;
  }
  .contact-form .submit-ellipsis {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 20px;
  }
  .contact-form .submit-ellipsis div {
    position: absolute;
    top: 50%;
    width: 6.5px;
    height: 6.5px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .contact-form .submit-ellipsis div:nth-child(1) {
    left: 4px;
    animation: submit-ellipsis1 0.6s infinite;
  }
  .contact-form .submit-ellipsis div:nth-child(2) {
    left: 4px;
    animation: submit-ellipsis2 0.6s infinite;
  }
  .contact-form .submit-ellipsis div:nth-child(3) {
    left: 16px;
    animation: submit-ellipsis2 0.6s infinite;
  }
  .contact-form .submit-ellipsis div:nth-child(4) {
    left: 28px;
    animation: submit-ellipsis3 0.6s infinite;
  }
  @keyframes submit-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes submit-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes submit-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(12px, 0);
    }
  }
  .contact-form .card {
    max-width: 478px;
    color: #007879;
  }
  .contact-form .card .card-body {
    border: 1px solid #007879;
  }
  .contact-form .card .card-body .card-title {
    min-height: 24px;
  }
  .contact-form .card .card-body .card-text {
    font-size: 15px;
    font-weight: 500 !important;
  }
  @media (max-width: 1200px) {
    .contact-form .card .card-body .card-text {
      font-size: 12px;
    }
  }
  
  .contact-info {
    background-color: #007879;
    padding: 25px;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  .contact-info .card {
    max-width: 30%;
    min-width: 270px;
    color: #007879;
  }
  .contact-info .card .card-body {
    border: 1px solid #007879;
  }
  .contact-info .card .card-body .card-title {
    min-height: 24px;
  }
  .contact-info .card .card-body .card-text {
    font-weight: 500 !important;
  }
  
  .services-hero {
    background-image: linear-gradient(180deg, rgba(0,120,121,0.85), rgba(0,120,121,0.45)), url(/images/services/hero.webp);
  }
  
  .services-about {
    padding-top: 80px;
    padding-bottom: 25px;
  }
  .services-about img {
    width: 90%;
    height: auto;
    min-height: 575px;
    max-height: 625px;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    image-rendering: pixelated;
    box-shadow: 10px -10px 0 #007879;
    border: 2px solid #014F5B;
  }
  
  .services-gallery {
    overflow: hidden;
  }
  .services-gallery img {
    aspect-ratio: 1/1;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    image-rendering: pixelated;
  }
  
  .services-faq {
    background-color: #007879;
    padding: 25px;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  .services-faq button {
    border: none;
    outline: none;
    color: #007879;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
  }
  .services-faq button.collapsed span {
    transform: rotate(180deg);
  }
  .services-faq button:hover {
    text-decoration: none;
    color: #007879;
  }
  .services-faq button:focus {
    text-decoration: none;
  }
  .services-faq button span {
    margin-top: 5px !important;
  }
  
  .cities-about {
    padding-top: 80px;
  }
  .cities-about .wrapper {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    max-height: 440px;
    border-radius: 0.25rem;
    box-shadow: -10px 10px 0 #007879;
    border: 2px solid #014F5B;
  }
  .cities-about .wrapper img {
    width: 100%;
  }
  .cities-about .wrapper .img-attrib {
    position: absolute;
    top: 90%;
    right: 5%;
    padding: 0.25em;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
  }
  @media (max-width: 767px) {
    .cities-about .wrapper .img-attrib {
      top: auto;
      bottom: 5%;
    }
  }
  
  .cities-services .gallery-row {
    overflow: hidden;
  }
  .cities-services .gallery-row img {
    aspect-ratio: 1/1;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    image-rendering: pixelated;
  }
  
  .estimate-form {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .estimate-form .title-wrapper {
    margin-bottom: 40px;
  }
  
  .privacy-policy {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .footer {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #007879;
    font-size: 14px;
    color: #ffffff;
    box-shadow: rgba(33, 35, 38, 0.7) 0px 1px 4px 0px;
  }
  @media (max-width: 991.98px) {
    .footer .row {
      display: flex;
      flex-direction: column;
    }
  }
  .footer .list-col {
    border-left: 1px solid #ffffff;
  }
  @media (max-width: 991.98px) {
    .footer .list-col {
      border-left: none;
    }
  }
  .footer .btn {
    border: 2px solid #ffffff;
    border-radius: 0;
  }
  .footer .btn:hover {
    background-color: #01A89E;
  }
  .footer li:hover, .footer .footer-rating a span:hover {
    text-decoration: underline;
  }/*# sourceMappingURL=style.css.map */