/* CustomHeader.module.css */
.headerActiveLink {
  color: #0d6efd; /* Replace with the color you want for active links */
  font-weight: bold;
  text-decoration: underline;
}
  
.headerNavLink {
  transition: transform 0.3s ease, text-decoration 0.15s ease;
}

.headerNavLink:hover {
  text-decoration: underline;
  transform: scale(1.25); 
  font-weight: bold;
}
  
  /* Disable the default Bootstrap styles for active links */
.nav-pills .nav-link.active {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}
  